<!doctype html><h4>    <h4>Verification Form</h4>    
<div class='row'>
    
    <div class='col-md-10'> 
       <div class='col-md-5'><label></label></div>
       <div class='col-md-5'></div>
     
</div>
    <div class='col-md-10'> 
       <div class='col-md-5'><label>Commodity wise stock position- valid and FED separately in MT as per warehouse record: No of bags & Weight: <span class='red'>*</span> </label></div><div class='col-md-5'>{{ text_area("stock_position", "class":"warehouse-form form-control form-control","value":model.stock_position) }}</div>
</div>
    <!-- <div class='col-md-10'>   
      <div class='col-md-5'><label>RECONCILIATION: Discrepancy noted in Physical Stock, Warehouse record/register and Electronic Position (attach details): <span class='red'>*</span> </label></div> <div class='col-md-5'> {{ text_area("reconciliation", "", "class":"warehouse-form form-control","value":model.reconciliation) }}</div>
     </div> -->
    
    </div>
   