/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2015, 11:48:14 PM
    Author     : arun
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,400);
body{
    font-family:'Open Sans', sans-serif !important;
    background:#213148 url("../../static/images/background.jpg");
    font-size:13px !important;
}
.modal-footer {   border-top: 0px; }
.modal-header{border-bottom: 0px !important;}
#loginModal{
  // background: #213148 url("background.jpg") center center no-repeat;
} 
.heac_logo{
    border:1px solid black;
    background-color: #fff;
}
.modal-dialog{
    width:400px !important;
}
.mapping-modal{
    width:90% !important;
}
.btn-login{
    width:140px ;
    height: 40px ;
    border-radius: 0px !important;
    background-color: rgb(77,182,172) !important ; 
    border:none !important;
}
.btn-login-gr{
    background-color: rgb(198,198,198) !important;
    border-radius: 0px !important;
    border:none !important;
}
.btn-upload{
    width:100px;
    height: 30px;
    border-radius: 0px !important;
    background-color: rgb(77,182,172) ; 
    border:none !important;
}
.my-form-control{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0) inset;
    border-right: none;
    border-top:none;
    border-left:none;
    border-bottom: 1px solid rgb(159,159,159);
    border-radius:0px;
    padding: 0px !important;
}
.my-form-control:focus{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0) inset;
}
.input{
    color: rgb(85,85,85);
    font-size: 14px;
}

input.date-pick{
  background-image: url("../../static/images/icons/date_input.png") !important;
   background-position: right center !important;
   background-repeat: no-repeat !important;  
}

p{
    /*color: rgb(159,159,159); */
    font-size: 12px;
}
.field-btm {clear: both}
.select{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #fff url("../../static/images/Polygon.png") no-repeat scroll 96% center !important;
   
}
#proposal_name
{
    height:26px !important;
}
 
.tab-content  ol { counter-reset:section; list-style-type:none; }
.tab-content  ol li { list-style-type:none; }
.tab-content  ol li ol { counter-reset:subsection; }
.tab-content  ol li:before{
    counter-increment:section;
    content:counter(section) ". ";/*content:"Section " counter(section) ". ";*/
}
.tab-content  ol li ol li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

.subblock{
    padding:10px 0 0 10px; 
}
.login-modal{
    margin: 130px auto !important;
}

#myModal5 .modal-dialog{
    margin: 130px auto !important;
    width:700px !important;
}




table, th, td, tr, thead {
   border: 1px solid #ddd !important;
}
th{
    font-weight: 500 !important;
}
td{
    font-size: 12px !important;
}
.nav-tabs > li{
     //background: #213148 url("../../images/heac/background.jpg") center center no-repeat;
     font-weight: 600 !important;
}
.ui-widget{
    font-family: 'Open Sans', sans-serif !important;
}
.prop_select{
    width: 50% !important; margin:0 !important; padding:0 !important;
}
.tab-content{
    margin: 30px 12px;
}
.td-back{
    background-color: #e7e7e7;
}
.approv,.reject, .updateValue{
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(77, 182, 172);
}
.reject{
    color: #cf829f;
}
.col-md-11.reason {
    border: 1px solid #dbdbdb;
    margin: 12px;
    padding: 10px;
}
.col-md-3.editDiv {
    margin-left: 23px;
}
.updateValue{
    margin-right: 0px;
    margin-top: 25px;
}
.upload-btn{
    background-color: #cf829f !important;
}